// colors
$primaryColor-h = 200
$primaryColor-s = 70%
$primaryColor-l = 50%
$primaryColor = hsl($primaryColor-h, $primaryColor-s, $primaryColor-l)

$secondaryColor-h = 20
$secondaryColor-s = 60%
$secondaryColor-l = 40%
$secondaryColor = hsl($secondaryColor-h, $secondaryColor-s, $secondaryColor-l)

$accentColor = hsl(200, 45%, 30%)
$textColor = hsl(200, 15%, 30%)
$borderColor = hsl(200, 15%, 85%)
$codeBgColor = hsl(200, 15%, 15%)
$arrowBgColor = hsl(200, 30%, 70%)

$color-gradient-start = rgba(0, 0, 0, 0)
$color-gradient-end = hsla($primaryColor-h, $primaryColor-s + 20%, $primaryColor-l - 40%, 1)

// layout
$navbarHeight = 0
$sidebarWidth = 0
$contentWidth = 740px
$headerHeight = 56.25vw // 16x9

// responsive breakpoints
$MQDesktop = 2560px
$MQLaptop = 1280px
$MQTabletL = 1024px
$MQTablet = 768px
$MQMobileL = 480px
$MQMobile = 320px

// Font faces
$headerFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$bodyFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

:root {
  --headerFont $headerFont
  --bodyFont $bodyFont
  --fontColor hsla(0, 0%, 0%, 0.8)
  --lineHeight 1.5
  --baseFontSize 112.5%  // 18px

  // Type scale
  --ratio 1.414  // Augmented fourth

  // Each step of the scale is a power of --ratio
  --stepUp1 calc(1em * var(--ratio))
  --stepUp2 calc(var(--stepUp1) * var(--ratio))
  --stepUp3 calc(var(--stepUp2) * var(--ratio))
  --stepDown1 calc(1em / var(--ratio))
}

// code
$lineNumbersWrapperWidth = 3.5rem
