.footer
  color darken(saturate($primaryColor, 30%), 30%)
  display flex
  flex-direction column
  margin 0 1rem 1rem 1rem
  .meta
    padding-bottom 1rem
    display flex
    flex-direction row
    justify-content space-between
  .text
    border-top 1px solid lighten(desaturate($secondaryColor, 20%), 40%)
    padding-top 1rem
    text-align center
