.gradientOverlay
  &::before
    background: radial-gradient(circle at top, $color-gradient-start, $color-gradient-end)
    content: ''
    height: $headerHeight
    left: 0
    // opacity: .75
    position: absolute
    top: 0
    width: 100%
    z-index: -1
