.header
  display: flex
  flex-direction: column
  height: $headerHeight
  justify-content: start
  text-align: right
  width: 100%
  .image
    height: $headerHeight
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: -2
  .title
    color: $color-primary-lightest
    margin: 0
    padding: 0 .5rem
    text-shadow: 2px 2px 3px $color-primary-darkest
  .tagline
    color: $color-secondary-light
    font-family: 'Teko'
    font-style: italic
    font-weight: lighter
    margin: 0
    padding: 0 .5rem
    text-shadow: 1px 1px 2px $color-secondary-darkest
