.header
  height $headerHeight
  position relative
  width 100%

  &::before
    background radial-gradient(circle at top right, $color-gradient-start, $color-gradient-end)
    content ''
    height 100%
    left 0
    mix-blend-mode color
    opacity .5
    position absolute
    top 0
    width 100%
    z-index -1

  &::after
    background radial-gradient(circle at top right, rgba(255, 255, 255, .95), rgba(255, 255, 255, .05))
    content ''
    height 100%
    left 0
    position absolute
    top 0
    width 100%
    z-index -2

  .background
    height $headerHeight
    left 0
    overflow hidden
    position absolute
    top 0
    width 100%
    z-index -3
    *
      height 100%
      object-fit cover
      width 100%

  .foreground
    display flex
    flex-direction column
    height 100%
    left 0
    position absolute
    top 0
    width 100%
    .title
      color darken(saturate($primaryColor, 20%), 40%)
      margin .5rem
      text-align right
    .tagline
      color lighten(desaturate($secondaryColor, 20%), 20%)
      font-family 'Teko'
      font-style italic
      font-weight lighter
      margin -.25rem .6rem
      text-align right
